h1 {
 color: seagreen;
 text-align: center;
}
                    
p {
 color:blueviolet
}  
.main-links {
 color: orange;
}                    
body {
        text-align: center;                 
}
a {
        color: hotpink;
}
a:hover {
        
        color: mediumseagreen;
        
}


                        